<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <div class="form-group col-md-7" hidden>
                    <input class="form-control" id="id" value="" />
                </div>
                <div class="form-group col-md-7">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" value="" />
                </div>
                <div class="form-group col-md-7">
                    <label for="Mobile">Mobile</label>
                    <input class="form-control " id="Mobile" value="" />
                </div>
                <div class="form-group col-md-7">
                    <label for="Email">Email</label>
                    <input class="form-control" id="Email" value="" />
                </div>
                <div class="form-group col-md-7">
                    <label for="Address">Address</label>
                    <input class="form-control " id="Address" value="" />
                </div>
                <div class="form-group col-md-7">
                    <label for="City">City</label>
                    <input class="form-control" id="City" value="" />
                </div>
                <div class="form-group col-md-7">
                    <label for="State">State</label>
                    <input class="form-control " id="State" value="" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save_user">Save</button>
            </div>
        </div>
    </div>
</div>
