
<style>
    .btn-accept {
        margin-left: 25%;
        border-radius: 5px;
        border: none;
        margin-top: 1%;
        width: 80px;
        }
    .btn-accept:hover{
        background-color:aqua;
    }
</style>
<div class="continer">
    <div class="row" style="margin-top:8%;">
        <div class="col-sm-4">
            <div class="content" style="width: 80%; /* align-items: center; */ text-align: center; margin-left: 20%;">
                <h5>Next Appontments</h5>
                <div class="next-appointments" style="padding:10px">
                    <div class="request" style="width:100%;height:30px;border-radius:10px; background-color:#0065EC">
                        <h6><span>Dr.shegal</span></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="content" style="width: 80%; /* align-items: center; */ text-align: center; margin-left: 20%;">
                <h5>Appointment Requests</h5>
                <div class="pending-appointments" style="padding:10px">
                    <div class="request" style="width:100%;height:30px;border-radius:10px; background-color:#0065EC">
                        <h6><span>Dr.shegal</span><button type="button" class="btn-accept" >Accept</button></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="content" style="width: 80%; /* align-items: center; */ text-align: center; margin-left: 20%;">
                <h5>Previous Appontments</h5>
                <div class="previous-appointments" style="padding:10px">
                    <div class="request" style="width:100%;height:30px;border-radius:10px; background-color:#0065EC">
                        <h6><span>Dr.shegal</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>